body{
    background-color: rgb(20, 18, 28);
    margin: 0px;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida 
}
h1{
    color: whitesmoke;
    font-size: 32px;
    text-shadow: 1px 1px 1px black;
}
img{
    margin-top: 20px;
    height: 1000px;
    width: 700px;
}
.terug{
    text-align: center;
    background-color: rgba(113, 157, 192, 0.504);
}
a{
    color: whitesmoke;
    text-shadow: 1px 1px 1px black;
    font-size: 24px;
    transition: 0.2s;
}
a:hover{
    color: rgb(164, 192, 253);
}
.image{
    text-align: center;
}