body{
    background-color: #3E2424;
    margin: 0px;
    padding: 0;
}
h1{
    color: #EECB1D;
    font-size: 32px;
    text-shadow: 1px 1px 1px black;
}
img{
    margin-top: 20px;
    height: 1000px;
    width: 700px;
}
.terug{
    text-align: center;
    background-color: #C36666;
}
a{
    color: #EECB1D;
    text-shadow: 1px 1px 1px black;
    font-size: 24px;
}
.image{
    text-align: center;
}