body{
    background-color: rgb(20, 18, 28);
    margin: 0px;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida 
}
p{
    margin-left: 20px;
    color: whitesmoke;
    text-shadow: 1px 1px 1px black;
    font-size: 22px;
}
li{
    margin-left: 40px;
    color: whitesmoke;
    font-size: 22px;
    text-shadow: 1px 1px 1px black;
}
img{
    margin-left: 20px;
    border-radius: 26px;
    height: 250px;
    width: 300px;
}
.terug{ 
    text-align: center;
    background-color: rgba(113, 157, 192, 0.504);
}
a{
    margin-left: 20px;
    color: whitesmoke;
    text-shadow: 1px 1px 1px black;
    font-size: 24px;
    transition: 0.2s;
}
a:hover{
    color: rgb(164, 192, 253);
}
summary{
    width: 20%;
    border-radius: 16px;
    background-color: rgba(113, 157, 192, 0.233);
    color: whitesmoke;
    text-shadow: 1px 1px 1px black;
    font-size: 24px;
    padding: 10px 20px;
    transition: 0.2s;
}
summary:hover{
    background-color: rgba(113, 157, 192, 0.7);
}

details{
    margin-left: 25px;
    border-radius: 16px;
    height: auto;
    width: 85%;
}
details[open] {
  background-color: rgba(113, 157, 192, 0.233);
}