body{
    background-color: #3E2424;
    margin: 0px;
    padding: 0;
}
h1{
    color: #EECB1D;
    font-size: 32px;
    text-shadow: 1px 1px 1px black;
}
p{
    color: #EECB1D;
    text-shadow: 1px 1px 1px black;
}
a{
    color: #EECB1D;
    text-shadow: 1px 1px 1px black;
    font-size: 24px;
}
li{
    color: #EECB1D;
    font-size: 24px;
    text-shadow: 1px 1px 1px black;
}
header{
    margin-top: 5px;
    color: gold;
    font-size: 42px;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}
header p{
    font-size: 20px;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 24px;
}
.motivatie{
    margin: 20px;
    grid-row: 1/3;
    grid-column: 1/3;
    background-color: #C36666;
    border-radius: 16px;
    padding: 5px;
    box-shadow: 10px 20px #2a1313;
}
.motivatie p{
    color: gold;
}
.motivatie h1{
    color: gold;
}
.over_mij{
    margin: 20px;
    grid-row: 2/4;
    grid-column: 3/5;
    background-color: #a55b5b;
    border-radius: 16px;
    padding: 5px;
    box-shadow: -10px 20px #2a1313;
}
.scholen{
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: 50px;
    grid-column: 2/3;
    background-color: #a55b5b;
    border-radius: 16px;
    padding: 5px;
    box-shadow: -10px 20px #2a1313;
}
.container2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 40px 0px;
    font-size: 24px;
}
.opdracht1{
    margin-left: 20px;
    grid-column: 1/4;
    background-color: #a55b5b;
    border-radius: 16px;
    padding: 5px;
    box-shadow: 10px 20px #2a1313;
}
img{
    height: 350px;
    width: 400px;
    border-radius: 16px;
    box-shadow: 10px 20px #2a1313;
}
.image1{
    margin: 10px;
    grid-row: 2;
    grid-column: 1/2;
}
.image2{
    margin: 10px;
    grid-row: 2;
    grid-column: 3/4;
}
.image3{
    margin: 10px;
    grid-row: 2;
    grid-column: 5/6;
}
.container3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 40px 0px;
    font-size: 24px;
}
.opdracht2{
    grid-column: 1/4;
    grid-row: 1/3;
    background-color: #a55b5b;
    border-radius: 16px;
    padding: 5px;
    box-shadow: 10px 20px #2a1313;
    margin-left: 20px;
}
.image4{
    margin: 10px;
    grid-column: 2/3;
}
.image5{
    margin: 10px;
    grid-column: 3/4;
}
.container4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 24px;
}
.talen{
    margin-top: 10px;
    grid-column: 1/1;
    background-color: #a55b5b;
    border-radius: 16px;
    padding: 5px;
    box-shadow: 10px 20px #2a1313;
    margin-left: 30px;
}
.green{
    color: #EECB1D;
    font-size: 24px;
    text-shadow: 1px 1px 1px black;
    transition: 0.2s;
}
.green:hover{
    color: greenyellow;
    text-shadow: 1px 1px 1px green;
}
.orange{
    color: #EECB1D;
    font-size: 24px;
    text-shadow: 1px 1px 1px black;
    transition: 0.2s;
}
.orange:hover{
    color: orange;
    text-shadow: 1px 1px 1px orangered;
}
.uitleg-groen{
    grid-column: 1/2;
    grid-row: 1;
    margin-left: 20px;
}
.uitleg-orange{
    grid-column: 3/4;
    grid-row: 1;
    margin-left: 20px;
}
.container5{
    display: grid;
    grid-template-columns:  10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 120px 120px 120px;
    grid-gap: 5px;
    font-size: 30px;
}

#skill-1{
    grid-column: 3/5;
    grid-row: 3;
}
#skill-2{
    grid-column: 5/7;
    grid-row: 3;
}
#skill-3{

    grid-column: 7/9;
    grid-row: 3;
}
#skill-4{
    grid-column: 6/8;
    grid-row: 2;
}
#skill-5{
    grid-column: 4/6;
    grid-row: 2;
}
#skill-6{
    grid-column: 5/7;
    grid-row: 1;
}
.skill{
    text-align: center;
    background-color: #a55b5b;
    border-radius: 16px;
    padding: 20px;
    transition: 0.2s;
}
.skill:hover{
    background-color: #ce7373;
}
#text{
    margin-left: 40px;
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}
footer {
    text-align: center;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 20px;
}
.github{
    margin-left: 20px;
}
