body{
    background-color: #3E2424;
    margin: 0px;
    padding: 0;
}
h1{
    color: #EECB1D;
    font-size: 32px;
    text-shadow: 1px 1px 1px black;
}
p{
    color: #EECB1D;
    font-size: 24px;
    text-shadow: 1px 1px 1px black;
}
li{
    color: #EECB1D;
    font-size: 24px;
    text-shadow: 1px 1px 1px black;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.motivatie{
    margin: 20px;
    grid-row: 1/3;
    grid-column: 1/3;
    background-color: #a55b5b;
    border-radius: 16px;
    padding: 5px;
    box-shadow: 10px 20px #2a1313;
}
.over_mij{
    margin: 20px;
    grid-row: 2/5;
    grid-column: 3/5;
    background-color: #a55b5b;
    border-radius: 16px;
    padding: 5px;
    box-shadow: -10px 20px #2a1313;
}
.scholen{
    margin-top: 20px;
    margin-left: 50px;
    grid-row: 3;
    background-color: #a55b5b;
    border-radius: 16px;
    padding: 5px;
    box-shadow: 10px 20px #2a1313;
}
.container2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 40px 0px;
}
.opdracht1{
    grid-column: 2/5;
    background-color: #a55b5b;
    border-radius: 16px;
    padding: 5px;
    box-shadow: 0px 20px #2a1313;
}
img{
    height: 350px;
    width: 400px;
    border-radius: 16px;
}
.image1{
    margin: 10px;
    grid-row: 2;
    grid-column: 1/2;
}
.image2{
    margin: 10px;
    grid-row: 2;
    grid-column: 3/4;
}
.image3{
    margin: 10px;
    grid-row: 2;
    grid-column: 5/6;
}
.container3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 40px 0px;
}
.opdracht2{
    grid-column: 1/4;
    grid-row: 1/3;
    background-color: #a55b5b;
    border-radius: 16px;
    padding: 5px;
    box-shadow: 10px 20px #2a1313;
}
.image4{
    margin: 10px;
    grid-column: 1/2;
}
.image5{
    margin: 10px;
    grid-column: 2/3;
}
.container4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.talen{
    grid-column: 2/2;
    margin-top: 20px;
    margin-left: 50px;
    background-color: #a55b5b;
    border-radius: 16px;
    padding: 5px;
    box-shadow: 10px 20px #2a1313;
}
.green{
    color: #EECB1D;
    font-size: 24px;
    text-shadow: 1px 1px 1px black;
    transition: 0.2s;
}
.green:hover{
    color: greenyellow;
    text-shadow: 1px 1px 1px green;
}
.orange{
    color: #EECB1D;
    font-size: 24px;
    text-shadow: 1px 1px 1px black;
    transition: 0.2s;
}
.orange:hover{
    color: orange;
    text-shadow: 1px 1px 1px orangered;
}